@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
*{
  margin: 0;
  padding: 0;
}
.text{
    margin-top: 10%;
}

ion-item {
  margin-bottom: 10px;
  background: transparent;
  border: 1px solid #92949c;
  border-radius: 4px;
  --highlight-height: 0px;
  --highlight-color-valid: #92949c;
  --highlight-color-focused: #92949c;
  --highlight-color-invalid: #92949c;
}

.iconEye {
  font-size: 24px;
  padding-left: 4px;
  padding-top: 12px;
  vertical-align: middle;
}
ion-checkbox {
    --size: 22px;
    --checkbox-background-checked: #6815ec;
  }
  
  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #6815ec;
  }

  .animated-gradient {
    animation: animateBg 2s linear infinite;
    background-image: linear-gradient(90deg,#eb445a,#2dd36f,#eb445a,#2dd36f);
    background-size: 300% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  }

  
  @keyframes animateBg {
    0% { background-position: 100% 0%; }
    100% { background-position: 0% 0%; }
  }

ion-button{
 
  height: 52px;
}

.text{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-top: 10px;
  color: #a7a7a7;
}

  .para1{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: -1px;
top: 340px;
position: fixed;
text-align: center;
width: 100%;
display: flex;
justify-content: center;

color: #878686;
  }

  .para2{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 0px;
top: 370px;
position: fixed;
width: 100%;

text-align: center;
display: flex;
justify-content: center;
color: #878686;




  }


  