<ion-content [fullscreen]="true">
  <img style="display: flex;
              align-items: center;
              width: 100%;
              z-index: 10;
              height: auto;" 
              src="assets/logo.png" alt="" srcset="">


  <p class="para1">Specially designed for NIFTY Index</p>
  <p class="para2">FUTURES and OPTIONS intraday traders</p>

  <div class="container">
    <ion-button (click)="loginWithGoogle()" expand="block" shape="round" color="danger">
      <ion-icon slot="end" name="add" color="light"></ion-icon>
      LOGIN With GOOGLE
    </ion-button>

    <!-- <ion-button (click)="onClick()">
      <ion-icon slot="start" name="add"></ion-icon>
      Click me
    </ion-button> -->
  </div>
  <ion-text  class="ion-text-center">
    <p class="text">By login you agree to our <strong>terms and conditions.</strong></p>
  </ion-text>
 
    
 
</ion-content>


