<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title class="ion-text-center title">
      NIFTY LEVEL INDICATOR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngIf="isBlocked">
        <ion-text class="ion-text-center" color="primary">
          <img src="/assets/realx.svg" alt="" srcset="">
          <h3>Your Subscription Has Ended!</h3>
          <h6>Please recharge to Continue using our services!</h6>
        </ion-text>
      </ion-col>
     
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="isNoCallToday == true && isBlocked == false" >
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-text class="ion-text-center" color="primary">
          <img src="/assets/realx.svg" alt="" srcset="">
          <h3>Sit Back and Relax!</h3>
          <h6>We Strive to provide refined calls Only!</h6>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-grid class="ion-margin-start" *ngIf="isNoCallToday == false && isBlocked == false">
    <ion-row>
      <ion-col size="12">
  <div class="container">

        <div class="capsule animate__animated animate__slideInLeft" #nifty50div>
          <p style="
          font-family: 'Lato';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
         
          
          color: #FFFFFF;
          ">NIFTY50</p>
          <br>
          <h4 style="position: absolute;
          width: 119px;
          height: 38px;
          left: 100px;
          top: 30px;
          
          font-family: 'Lato';
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 38px;
          text-align: center;
          
          color: #FFFFFF;">{{nifty50Price}}</h4>
          <div class="circle">
            <ion-avatar style="padding: 10px;">
              <img src="/assets/trend.png" />
            </ion-avatar>
          </div>
        </div>
    
    
    
        <div [class]="isCall ? 'capsule buy animate__animated animate__slideInRight' : 'capsule sell animate__animated animate__slideInRight'">
          <p style="
         font-family: 'Lato';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
         
          
          color: #FFFFFF;
          ">{{call}}</p>
          <br>
          <h4 style="position: absolute;
          width: 119px;
          height: 38px;
          left: 100px;
          top: 30px;
          
          font-family: 'Lato';
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 38px;
          text-align: center;
          
          color: #FFFFFF;">{{entryPrice}}</h4>
          <div class="circle">
            <ion-avatar style="padding: 10px;">
              <img src="/assets/bull.png" />
            </ion-avatar>
          </div>
        </div>
    
        <div [class]="isCall ? 'capsule buy animate__animated animate__slideInLeft' : 'capsule sell animate__animated animate__slideInLeft'">
          <p style="
          font-family: 'Lato';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
         
          
          color: #FFFFFF;
          ">TARGET</p>
          <br>
          <h4 style="position: absolute;
          width: 119px;
          height: 38px;
          left: 100px;
          top: 30px;
          
          font-family: 'Lato';
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 38px;
          text-align: center;
          
          color: #FFFFFF;"> {{target}} </h4>
          <div class="circle">
            <ion-avatar style="padding: 10px;">
              <img src="/assets/broker.png" />
            </ion-avatar>
          </div>
        </div>
    
    
        <div [class]="isCall ? 'capsule buy animate__animated animate__slideInRight' : 'capsule sell animate__animated animate__slideInRight'">
          <p style="
          font-family: 'Lato';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
         
          
          color: #FFFFFF;
          ">STOP LOSS</p>
          <br>
          <h4 style="position: absolute;
          width: 119px;
          height: 38px;
          left: 100px;
          top: 30px;
          
          font-family: 'Lato';
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 38px;
          text-align: center;
          
          color: #FFFFFF;">{{stoploss}}</h4>
          <div class="circle">
            <ion-avatar style="padding: 10px;">
              <img src="/assets/bear.png" />
            </ion-avatar>
          </div>
        </div>
      </div>

        <ion-text color="primary">
         <p>Remark: Any calls or levels provided here are only for learning purposes. Trading based on those calls or levels are to be decided on their own discretion.</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

   
  
</ion-content>

<ion-footer  *ngIf="isNoCallToday == true && isBlocked == false" lines=none>
  <ion-toolbar>
    <ion-text color="primary" class="ion-text-center">
      <p> <strong>We will notify you once calls are provided</strong> </p>

    </ion-text>
  </ion-toolbar>
</ion-footer>