<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title class="ion-text-center title">
      NIFTY LEVEL INDICATOR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid *ngIf="stock.length == 0">
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-text class="ion-text-center" color="primary">
          <img src="/assets/realx.svg" alt="" srcset="">
          <h4>Sit Back and Relax!</h4>
          <p>We will notify you once calls are provided.</p>
        </ion-text>
      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-margin-start" *ngIf="stock.length > 0">
    <ion-row>
      <ion-col size="12">
        <div class="capsule animate__animated animate__slideInLeft" #nifty50div>
          <p style="
          font-family: 'Lato';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
         
          
          color: #FFFFFF;
          ">NIFTY50</p>
          <br>
          <h4 style="position: absolute;
          width: 119px;
          height: 38px;
          left: 100px;
          top: 30px;
          
          font-family: 'Lato';
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 38px;
          text-align: center;
          
          color: #FFFFFF;">{{nifty50Price}}</h4>
          <div class="circle">
            <ion-avatar style="padding: 10px;">
              <img src="/assets/stocks.png" />
            </ion-avatar>
          </div>
        </div>
    
    
    
        <div [class]="isCall ? 'capsule buy animate__animated animate__slideInRight' : 'capsule sell animate__animated animate__slideInRight'">
          <p style="
          font-family: 'Lato';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
         
          
          color: #FFFFFF;
          ">{{isCall ? 'BUY NOW' : 'SELL NOW'}}</p>
          <br>
          <h4 style="position: absolute;
          width: 119px;
          height: 38px;
          left: 100px;
          top: 30px;
          
          font-family: 'Lato';
          font-style: normal;
          font-weight: 300;
          font-size: 22px;
          line-height: 38px;
          text-align: center;
          
          color: #FFFFFF;">{{isCall ? call : put}}</h4>
          <div class="circle">
            <ion-avatar style="padding: 10px;">
              <img src="/assets/buy.png" />
            </ion-avatar>
          </div>
        </div>
    
        <div [class]="isCall ? 'capsule buy animate__animated animate__slideInLeft' : 'capsule sell animate__animated animate__slideInLeft'">
          <p style="
          font-family: 'Lato';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
         
          
          color: #FFFFFF;
          ">TARGET</p>
          <br>
          <h4 style="position: absolute;
          width: 119px;
          height: 38px;
          left: 100px;
          top: 30px;
          
          font-family: 'Lato';
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 38px;
          text-align: center;
          
          color: #FFFFFF;"> {{target}} </h4>
          <div class="circle">
            <ion-avatar style="padding: 10px;">
              <img src="/assets/candlestick.png" />
            </ion-avatar>
          </div>
        </div>
    
    
        <div [class]="isCall ? 'capsule buy animate__animated animate__slideInRight' : 'capsule sell animate__animated animate__slideInRight'">
          <p style="
          font-family: 'Lato';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
         
          
          color: #FFFFFF;
          ">STOP LOSS</p>
          <br>
          <h4 style="position: absolute;
          width: 119px;
          height: 38px;
          left: 100px;
          top: 30px;
          
          font-family: 'Lato';
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 38px;
          text-align: center;
          
          color: #FFFFFF;">{{stoploss}}</h4>
          <div class="circle">
            <ion-avatar style="padding: 10px;">
              <img src="/assets/sell.png" />
            </ion-avatar>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


   
  
</ion-content>