<ion-header >
  <ion-toolbar>
    <ion-title class="ion-text-center title" color="light">
      NIFTY50 STOCKS
    </ion-title>
    <ion-button (click)="viewNotifications()" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="chatbubble-ellipses" color="light"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list >
  

    <ion-item class="item-stock" lines="none">
      <ion-label>
        <h2 class="stock-name">Reliance Industries Ltd</h2>
        <div class="stock-exchange">NSE</div>
        <div class="stock-price">&#8377;2,400.50</div>
      </ion-label>
      <div style="float: right; display: flex; justify-content: center; align-items: center;" class="profit-loss profit">
        <p >+5.25%</p>
      </div>
    </ion-item>

    <ion-item class="item-stock" lines="none">
      <ion-label>
        <h2 class="stock-name">TATAMOTORS</h2>
        <div class="stock-exchange">NSE</div>
        <div class="stock-price loss">&#8377;400.50</div>
      </ion-label>
      <div style="float: right; display: flex; justify-content: center; align-items: center;" class="profit-loss loss">
        <p >-5.25%</p>
      </div>
    </ion-item>

    <ion-item class="item-stock" lines="none">
      <ion-label>
        <h2 class="stock-name">PERSISTANT</h2>
        <div class="stock-exchange">NSE</div>
        <div class="stock-price warning">&#8377;5008.50</div>
      </ion-label>
      <div style="float: right; display: flex; justify-content: center; align-items: center;" class="profit-loss warning">
        <p >-3.25%</p>
      </div>
    </ion-item>
    
  </ion-list>

</ion-content>
