<ion-header>
  <ion-toolbar>
    <ion-title class="title">Profile</ion-title>
    <ion-buttons  color="light" slot="start">
      <ion-back-button defaultHref="/tabs/tabs/tab3"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


 <ion-text style="    position: absolute;
 top: 240px;
 left: 110px;" color="primary" class="ion-text-center">
  <h3><strong>{{name || "..."}}</strong></h3>
</ion-text>
  <p style="position: absolute;
  top: 270px;
  left: 17vw;">{{email || "..."}}</p>
<div class="container">
  <div >
  <img style="position: absolute;
  width: 181px;
  height: 181px;
  left:25vw;
  top: 40px;
  border-radius: 50%;
  background: #D9D9D9;" [src]="photo" alt="" srcset="">
  </div>
  
 
 </div>


 <ion-grid class="ion-margin">
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle color="medium">299.0 INR/Month</ion-card-subtitle>
          <ion-card-title color="light">PREMIUM</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text color="light" class="ion-text-center">
            <h4>Your plan is active till 15th May, 2023</h4>
          </ion-text>
          <ion-button  expand="block" fill="clear" shape="round" color="warning">
            RENEW
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6"></ion-col>
  </ion-row>
 </ion-grid>
</ion-content>
